.root {
    /*background: rgb(84,2,148);*/
    /*background: linear-gradient(90deg, rgba(84,2,148,1) 0%, rgba(113,16,128,1) 23%, rgba(208,153,212,1) 100%);*/
    height: 680px;
    background: rgb(220,185,249);
    background: linear-gradient(90deg, rgba(220,185,249,1) 0%, rgba(228,146,242,1) 23%, rgba(240,177,245,1) 100%);
}